.footer {
  background: rgba(37, 47, 63);
  padding-top: 2em;
  padding-bottom: 1em;

  &__nav-container {
    border-top: 1px solid darkslategrey;
  }

  &__navbar-brand > span {
    color: white;
  }

  &__nav-link {
    color: white;
    text-transform: capitalize;
  }

  &__nav-link:hover {
    color: white;
  }
}
